<div class="block-flat">
						<div class="header">							
							<h3>Dashboard</h3>
						</div>
<table class="table table-bordered table-condensed" id="datatable-icons" >
									<thead>
                                    <tr>
	<th>Sample</th>
	<th>Company</th>
	<th>Date</th>
	<th>Chemist</th>
	<th>Lease</th>
	<th>Well</th>
	<th>T1</th>
	<th>T2</th>
	<th>T3</th>
	<th>T4</th>
	<th>T5</th>
</tr>
    </thead>
<tbody>
<tr class="gradeA">
	<td>J1J 4X9</td>
	<td>In Associates</td>
	<td>Aug 28 2015</td>
	<td>Karina Mcgee</td>
	<td>Green Bay</td>
	<td>89 54</td>
	<td> Done</td>
	<td> Done</td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td>Waiting </td>
</tr>
<tr class="gradeA">
	<td>K9E 5T5</td>
	<td>Quisque Nonummy Ipsum Limited</td>
	<td>Nov 08 2014</td>
	<td>Isabella Harding</td>
	<td>Ilbono</td>
	<td>75 53</td>
	<td>Waiting </td>
	<td> Done</td>
	<td> Done</td>
	<td> Done</td>
	<td>Waiting </td>
</tr>
<tr class="gradeA">
	<td>A7L 5A6</td>
	<td>Sapien Nunc Pulvinar Institute</td>
	<td>Oct 12 2014</td>
	<td>Aiko Barron</td>
	<td>Guápiles</td>
	<td>91 76</td>
	<td> Done</td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td> Done</td>
	<td> Done</td>
</tr>
<tr class="gradeA">
	<td>I2Q 8O0</td>
	<td>Enim Nec Tempus Foundation</td>
	<td>Sep 02 2015</td>
	<td>Orli Mckee</td>
	<td>Warrington</td>
	<td>64 78</td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td> Done</td>
</tr>
<tr class="gradeA">
	<td>B6L 6C5</td>
	<td>Tellus LLC</td>
	<td>Sep 16 2015</td>
	<td>Uma Snyder</td>
	<td>Gaspo</td>
	<td>17 03</td>
	<td> Done</td>
	<td> Done</td>
	<td> Done</td>
	<td>Waiting </td>
	<td> Done</td>
</tr>
<tr class="gradeA">
	<td>L4J 3K0</td>
	<td>Justo Eu Inc.</td>
	<td>Jul 03 2015</td>
	<td>Nathan Wyatt</td>
	<td>Cercemaggiore</td>
	<td>89 31</td>
	<td>Waiting </td>
	<td> Done</td>
	<td>Waiting </td>
	<td> Done</td>
	<td> Done</td>
</tr>
<tr class="gradeA">
	<td>Y2O 6P4</td>
	<td>Consequat Company</td>
	<td>Jun 14 2015</td>
	<td>Breanna Garrison</td>
	<td>Poucet</td>
	<td>44 81</td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td> Done</td>
	<td> Done</td>
	<td> Done</td>
</tr>
<tr class="gradeA">
	<td>Z7W 2B5</td>
	<td>Id Blandit Incorporated</td>
	<td>Aug 12 2014</td>
	<td>Amelia Carroll</td>
	<td>Buckie</td>
	<td>50 99</td>
	<td>Waiting </td>
	<td> Done</td>
	<td>Waiting </td>
	<td>Waiting </td>
	<td> Done</td>
</tr>
</table>
</div>